<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	<add key="Microsoft Visual Studio Offline Packages" value="C:\\Program Files\\dotnet\\library-packs" />
  </packageSources>

  <!-- Map all packages to nuget.org so Microsoft.VisualStudio.* can be resolved from nuget.org -->
  <packageSourceMapping>
	<packageSource key="nuget.org">
	  <package pattern="*" />
	</packageSource>
  </packageSourceMapping>
</configuration>
