
@{
}

<div class="company-content">
    <div class="company-top-bar">
        <div class="company-search-box">
            <input type="text" id="searchDelegateInput" data-i18n-placeholder="search_delegates" placeholder="ابحث عن مندوب...">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <a href="add-delegate.html" class="company-btn company-btn-primary"><i class="fa-solid fa-plus"></i> <span data-i18n="add_delegate">إضافة مندوب</span></a>
    </div>
    <div class="company-delegates-grid"></div>
</div>
